<nav class="navbar" id="mainNav">
  <div class="navbar-container">
    <div class="navbar-content">
      <a href="#" class="navbar-brand">Hike</a>

      <div class="navbar-links" id="navbarResponsive">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="#" class="navbar-link">Home</a>
          </li>
          <li class="navbar-item">
            <a [routerLink]="['trips']" class="navbar-link">Trips</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
