<nav class="navbar" id="mainNav">
  <div class="navbar-container">
    <div class="navbar-content">
      <a href="#" class="navbar-brand">Hike</a>

      <div class="navbar-links" id="navbarResponsive">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a [routerLink]="['']" class="navbar-link">Home</a>
          </li>
          <li class="navbar-item">
            <a
              class="navbar-link"
              [routerLink]="['trips']"
              routerLinkActive="active-link"
              >Trips</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
