<!-- <div class="banner">
  <div class="banner-container">
    <h1 class="banner-title">Welcome To Hike</h1>
    <div class="banner-divider">
      <div class="banner-divider-line"></div>
      <div class="banner-divider-icon">
        <i class="fas fa-star" style="font-size: 1.5rem"></i>
      </div>
      <div class="banner-divider-line"></div>
    </div>
    <p class="banner-subtitle">
      a delightful way to explore nature with friends and family
    </p>
  </div>
</div>

<section class="explore-trips-section" id="portfolio">
  <div class="explore-trips-container">
    <h2 class="explore-trips-title">Explore Trips</h2>
    <br />
    <div class="explore-trips-search">
      <input
        type="search"
        id="form1"
        class="explore-trips-input"
        placeholder="Search"
      />
    </div>
    <div class="explore-trips-buttons">
      <button class="difficulty-button">Easy</button>
      <button class="difficulty-button">Moderate</button>
      <button class="difficulty-button">Hard</button>
    </div>
    <div class="divider">
      <div class="divider-line"></div>
      <div class="divider-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-line"></div>
    </div>
    <div class="trips-list">
      @for (trip of trips; track trip.id) {
      <div class="trip-card-wrapper">
        <div class="trip-card">
          <div class="trip-card-overlay">
            <div class="trip-card-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <img
            width="800"
            height="800"
            class="trip-card-image"
            src="{{ trip.img }}"
            alt="{{ trip.name }}"
          />
        </div>
      </div>
      }
    </div>
  </div>
</section>
<div class="selected-trip-card-container">
  <div class="selected-trip-card">
    <div class="selected-trip-card-content">
      <div class="selected-trip-card-inner-container">
        <div class="selected-trip-card-flex-container">
          <div class="selected-trip-card-main">
            <h2 class="selected-trip-card-title">{{ trips[0].name }}</h2>
            <div class="selected-trip-card-divider">
              <div class="selected-trip-card-line"></div>
              <div class="selected-trip-card-star">
                <i class="fas fa-star"></i>
              </div>
              <div class="selected-trip-card-line"></div>
            </div>
            <img
              class="selected-trip-card-image"
              src="{{ trips[0].img }}"
              alt="{{ trips[0].name }}"
              width="500"
              height="500"
            />
            <p class="selected-trip-card-details">
              City: {{ trips[0].city }}<br />
              Length: {{ trips[0].length1 }}Km<br />
              Rating: {{ trips[0].rating }}<br />
              Difficulty: {{ trips[0].difficulty }}<br />
              Details: {{ trips[0].details }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-home></app-home>
